

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/*ajusta el ancho de la pantalla*/
.container {
position:relative;
max-width:760px;
margin:0 auto;
padding:0 24px;
}


/*centra verticalmente*/
.site-header {
overflow:auto;
text-align:center;
text-transform:uppercase;
padding:100px 0 35px;
}

/*centra verticalmente los botones de rrss*/
.site-title-wrapper {
display:table;
margin:0 auto;
}


/* linea de abajo y centra en pantalla*/
.post-header {
border-bottom:6px solid #303030;

text-align:center;
text-transform:uppercase;
margin:0;
padding:100 0 0px;
}

/* transforma en mayusculas el titulo y le da el tamaño*/
.post-title {
font-size:52px;
font-weight:700;
text-transform:uppercase;
margin:15px 0;
}

/* interlineado */
.deck {
font-weight:500;
line-height:2;
font-size:22px;
text-transform:none;
}


/* Estilo de letra del parrafo*/

body {
background:#fefefe;
color:#424242;
font-family:"Archer SSm A","Archer SSm B",Georgia,serif;
font-weight:500;
font-style:normal;
font-size:18px;
margin:0;
}




/* estilo de letra del titulo*/

h1,h2,h3,h4,h5,h6 {
font-family:'Gotham Narrow SSm A','Gotham Narrow SSm B','Helvetica Neue',Helvetica,sans-serif;
font-weight:700;
font-style:normal;
margin-bottom:33px;
text-transform:none;
}

a {
color:#f03838;
text-decoration:none;
}


















